{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Local TicketSys</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/css/slick.css' %}"/>

    <link href="{% static '/css/tooplate-little-fashion.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css"
      integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css"
      integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
      crossorigin="anonymous"
    />
    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
  </head>

  <body>
    <section class="preloader">
      <div class="spinner">
        <span class="sk-inner-circle"></span>
      </div>
    </section>

    <main>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="dashboard">
            <strong><span>Local</span> TicketSys</strong>
          </a>

          <div class="d-lg-none">
            <a
              href="logout"
              class="bi-person custom-icon me-3"
              style="font-size: 20px"
              >Logout</a
            >
          </div>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="faq.html">FAQs</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>

            <div class="d-none d-lg-block">
              <a
                href="logout"
                class="bi-person custom-icon me-3"
                style="font-size: 20px"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </nav>

      <section class="section-padding">
          <div class="container">
            <div>
                <h2 style="text-align: center;">🎉Ticket Booked Succesfull🎉</h2>
            </div>
            <div class="lottiefile" style="width: 100%;display: flex;align-items: center;justify-content: center;">
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_5VxE1e.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <div>
                <h2 style="text-align: center;font-size: 20px;">📧Your Ticket is mailed to you on your Email-id 📧<br> OR <br>Your can access it through Ticket History</h2>
            </div>
            <div class="ticket"style="width: 100%;display: flex;align-items: center;justify-content: center;">
                <h1 style="position: absolute;font-size: 30px;left: 53%;font-weight: 500;top: 53.5%;">{{ticketid}}</h1>
                <div class="insidetext" style="display: flex;flex-direction: column;width: 400px;height: 260px ;position: absolute;top: 59%;left: 37%;">
                    <div class="firstbox" style="display: flex;justify-content: space-between;width: 100%;">
                        <p style="color: #000;font-weight: 500;">{{checkbox}}</p>
                        <p style="color: #000;font-weight: 500;">{{date}}</p>
                    </div>
                    <div class="secondbox" style="display: flex;justify-content: space-between;width: 100%;margin-top: 10px;">
                        <p style="color: #000;font-weight: 500;">{{fromstation}} TO {{tostation}}</p>
                        <p style="color: #000;font-weight: 500;">II ORD</p>
                    </div>
                    <div class="secondbox" style="display: flex;justify-content: space-between;width: 100%;margin-top: 10px;">
                        <p style="color: #000;font-weight: 500;">AD:{{adult}}  &nbsp;&nbsp;&nbsp;CH:0</p>
                        <p style="color: #000;font-weight: 500;">{{rate}}</p>
                    </div>
                    <div class="secondbox" style="display: flex;justify-content: space-between;width: 100%;margin-top: 10px;">
                        <p style="color: #000;font-weight: 500;">{{time}}</p>
                    </div>
                    <div class="secondbox" style="display: flex;justify-content: space-between;width: 100%;margin-top: 1px;">
                        <p style="color: #000;font-weight: 500;">{{usermessage}}</p>
                    </div>
                </div>
                <img src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/780369_764104/Happy%20journey.png"  style="width: 500px;align-items: center;display: block;" class="img-fluid" alt="">
            </div>
        </div>
        <div class="buttondiv" style="width: 100%;display: flex;justify-content: center;align-items: center;">
            <button type="button"
            class="btn btn-primary btn-lg"
            style="background-color: #ff4400; border: #ff4400;margin-top: 2rem"><a href="dashboard" style="text-decoration: none;color: aliceblue;">Back To Dashboard</a></button>
        </div>
      </section>
    </main>

    <footer class="site-footer my-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-10 me-auto mb-4">
            <h4 class="text-white mb-3">
              <a href="index.html">Local</a> TicketSys
            </h4>
            <div id="google_translate_element"></div>
            <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">
              Copyright © 2022 <strong>Local TicketSys</strong>
            </p>
            <br />
          </div>

          <div class="col-lg-5 col-8">
            <h5 class="text-white mb-3">Sitemap</h5>

            <ul class="footer-menu d-flex flex-wrap">
              <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Privacy policy</a>
              </li>

              <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">FAQs</a>
              </li>

              <li class="footer-menu-item">
                <a href="#" class="footer-menu-link">Contact</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-4">
            <h5 class="text-white mb-3">Social</h5>

            <ul class="social-icon">
              <li><a href="#" class="social-icon-link bi-youtube"></a></li>

              <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

              <li><a href="#" class="social-icon-link bi-instagram"></a></li>

              <li><a href="#" class="social-icon-link bi-skype"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/Headroom.js' %}"></script>
    <script src="{% static '/js/jQuery.headroom.js' %}"></script>
    <script src="{% static '/js/slick.min.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript"> 
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement(
                {pageLanguage: 'en'}, 
                'google_translate_element'
            ); 
        } 
    </script>
  </body>
</html>
